table,td,th,tr {
    border: 1px solid black;
    
  }
  #para1{
      background: white;
  }
  #para10 {
      background: black;
  }
  #para9 {background: #313131;

  }
  #para8 {background: #414141;

  }
  #para7 {background: #525252;

  }
  #para6{background: #797777;

  }
  #para5 {background: #9a9a9c;

  }
  #para4 {
background: #b3b2b2;
}
#para3 {background: #dad8d8;


}
#para2 {
background: #eeebeb;

}
